/* font */

* {border:3px;
  margin: 0;
  }
body {font-family:sans-serif;
font-weight: 300;
}



/* header styling */

.navbar {
    background-color: #05386B;
    overflow: hidden;
  }
  .navbar a {
    float: left;
    color: #5CDB95;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  .navbar a:hover {
    background-color: #ddd;
    color: black;
  }

ol {
    display: inline;
    float: left;
    padding-left: 50px;
    padding-top: 10px;
    padding-bottom:10px;}

    /* footer styling*/
    
    #footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 5%;
        background-color: #05386B;
    color: #5CDB95;
        text-align: center;
        
      }
      #footer li {  text-align:center;
        list-style:none;
        padding-left:50px;
    padding-top: 10px;
    padding-bottom:10px;
  display:inline-block;
color:white;}

#footer i {
  font-size: 170%;
  margin: 1%;
  padding :5%;
  color: white;
}

      
      /* hero image styling */
 #hero-image {
  align: left;
height: 600px;
width:100%;
background: url("../assets/images/hero-image.jpg");
background-position: center center;
background-repeat: no-repeat;
 }

 /*hero heading styling*/
 #hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #5CDB95;
}

/* homepage about styling */
#about {float:left;
  width:40%;
  display: inline block;
  padding:1.5%;
}

#about img {float:right;
  display: inline block;
  height:auto;
  width:40%;
}

/* homepage Events styling */
 #event {
  padding: 1.5%;
  color:black;
  display: inline-block;
  float: left;
  width:100%;
  height:200px;
 
}

#event span {
  background-image: url('../assets/images/events.jpeg');
  background-repeat: NO repeat;
  background-size: cover;
  background-position: center;
  overflow:hidden;
  padding: 30px 0px 0px 10px;
  padding-right: 10px;
  text-align: center;
  width: 32%;
height:150px;
float:left;
border: 2px white solid;
box-sizing: border-box;}

/*Home page residents styling*/

#residents {float:left;
width: 100%;
padding: 1.5%;
padding-bottom: 5%;}

.people{
  float: left;
  width: 33.33%;
  box-sizing: border-box;
  text-align: center;
}

.people img {height:250px;
width:250px;  
border-radius: 50%;}


/* form styling */

#form {
  
  background-image: url('../assets/images/contact.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: 100%;
  border: 3px ;
  background-color: #05386B;
color: white;
padding-top: 5%;
display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height:100%;
  text-align: center;
}

#freeform {
  width: 40%;
  height: 250px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
  margin: auto;
  
}

   
    #button { background-color: #05386B;
  border: none;
  color: #5CDB95;
  padding: 12px 26px;
  margin: 4px 2px;}

  /* Noteable resident styling */
  #residents_page p {font-size: large;}
  #residents_page h3 {font-size: larger;}
  #residents_page div {padding-left: 2.5%;
  padding-top: 2.5%;
padding-bottom: 2.5%;
padding-right: 2.5%;
border-style: dashed;
  border-color:#5CDB95
}

/* Notebale residents page image style */
#residents_page img {height:250px;
  width:250px;  
  border-radius: 50%;}

  /* Events page styling */
  #event_page {
    padding: 1.5%;
    color:black;
    display: inline-block;
    float: left;
    width:100%;
    height:600px;
   
  }
  
  #event_page span {
    background-image: url('../assets/images/events.jpeg');
    background-repeat: NO repeat;
    background-size: cover;
    background-position: center;
    overflow:hidden;
    padding: 30px 0px 0px 10px;
    padding-right: 10px;
    text-align: center;
    width: 32%;
  height:100%;
  float:left;
  border: 2px white solid;
  box-sizing: border-box;}

