
* {border:none;
margin: 0;
padding:0;
}
body {font-family:sans-serif;
font-weight: 300;}

.navbar {
    background-color: #3fc460;
    overflow: hidden;
  }
  .navbar a {
    float: left;
    color: #f5f52c;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  .navbar a:hover {
    background-color: #ddd;
    color: black;
  }

ol {
    display: inline;
    float: left;
    padding-left: 50px;
    padding-top: 10px;
    padding-bottom:10px;}
    
    #footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
    background-color: #3fc460;
    color: #f5f52c;
        text-align: center;
      }